import /init.grand.rc
import /init.lge.rc

on boot
    chmod 0660 /dev/ttyGS0
    chown system system /dev/ttyGS0

# LGE_CHANGE_S, [G1_Player][bokyung.kim@lge.com], 20120429, add pmsc folder to use secure time {
    mkdir /data/pmsc 0777 system system
    chown system system /data/pmsc
    chmod 0777 /data/pmsc
# LGE_CHANGE_E, [G1_Player][bokyung.kim@lge.com], 20120429, add pmsc folder to use secure time }

# NFC Feature
   chmod 0666 /dev/pn544

# changsoon2.park@lge.com : snd_cards check! if there is no sound card, make phone crash
    write /sys/module/snd_soc_wcd9310/parameters/snd_check 1

on property:ro.build.type=user
   write /sys/module/subsystem_restart/parameters/restart_level 3

service broadcast /system/bin/libbroadcast_server
    class main
    user media
    group system audio media graphics sdcard_rw
