on boot

service drm /system/bin/drmserver
    class main
    user drm
    group system inet drmrpc radio
    
service lgsecclk /system/bin/lgsecclkserver
    class main
    user system
    group system lgdrm_acc sdcard_rw media_rw

on property:init.svc.servicemanager=restarting
     restart lgsecclk

service lgdrm /system/bin/lgdrmserver
    class main
    user lgdrm
    group lgdrm_acc sdcard_rw media_rw system radio

on property:init.svc.servicemanager=restarting
     restart lgdrm
